/* css */

/* utility */

main, header{
    font-family: 'Roboto', sans-serif;
}

aside{
    font-family: 'Poppins', sans-serif;
}

/* DEBUG DA RIMUOVERE */

aside{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    width: 10%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    width: 90%;
    height: calc(100vh - 70px);
    overflow-x: auto;
}

/* header */

.yellow{
    color: rgb(236, 203, 16);
}

header{
    background-color: #F8F9FA;
    height: 70px;
    width: 100%;
}

header img{
    max-width: 100%;
}

/* main */

.cp-container{
    width: 100%;
}

main .pills-menu .cp-container{
    padding: 30px;
}

.pills-menu{
    background-color: #1A73E8;
}

main .avatar{
    width: 30px;
}
aside p,
aside i{
    cursor: pointer;
}
